#root {
    margin: 0 auto;
    flex: 1;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.main-content {
    display: flex;
    overflow: hidden;
}

.viewer-container {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.cesium-viewer {
    width: 100%;
    height: 100%;
}

.cesium-widget-credits {
    /*Not using Ion, so attribution not required.*/
    display: none !important;
}
