.map-control {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.map-control .map-control-button {
    background-color: rgba(0, 0, 0, 0.54);
    height: 40px;
    padding: 0.5rem;
    border: 1px solid #5f6368;
}

.map-control .map-control-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.map-control .zoom-in-button {
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: none;
}

.map-control .map-reset-button {
    border-radius: 0;
}

.map-control .zoom-out-button {
    border-radius: 0 0 0.25rem 0.25rem;
    border-top: none;
}

.map-control .view-mode-button {
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    position: relative;
}

.map-control .view-mode-button span {
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.map-control-button > img {
    opacity: 1;
}
