.map-control {
    --map-control-start: 1.25rem;
    position: absolute;
    bottom: calc(var(--map-control-start) + 1rem);
    right: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.map-control .map-control-button {
    background-color: rgba(0, 0, 0, 0.54);
    height: 40px;
    padding: 0.5rem;
    border: 1px solid #5f6368;
}

.map-control .map-control-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.map-control .zoom-in-button {
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: none;
}

.map-control .map-reset-button {
    border-radius: 0;
}

.map-control .zoom-out-button {
    border-radius: 0 0 0.25rem 0.25rem;
    border-top: none;
}

.map-control-button > img {
    opacity: 1;
}
